@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:ital,wght@1,900&display=swap');

body {
    background-color: aliceblue;
}

button {
    border-radius: 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-color: rgb(186, 178, 197);
}

button:hover {
    font-size: 18px;
}

.operatorBtn {
    background-color: rgb(230, 107, 63);
}

.operatorBtn:hover {
    border-color: rgb(229, 225, 235);
    background-color: rgb(236, 137, 101);
}

button:disabled:hover {
    font-size: 16px;
}

.operatorBtn:disabled:hover {
    background-color: rgb(230, 107, 63);
    border-color: rgb(186, 178, 197);
}

.colored {
    background-color: rgb(135, 107, 180);
}
.colored:hover {
    border-color: rgb(235, 172, 55);
    background-color: rgb(86, 75, 105);
}

.colored:disabled:hover {
    border-color: rgb(186, 178, 197);
}
.colored:disabled {
    background-color: rgb(86, 75, 105);
}

.numberBtn {
    background-color: rgb(148, 140, 161);
}

.numberBtn:hover {
    border-color: rgb(229, 225, 235);
    background-color: rgb(134, 126, 148);
}

#container {
    display: grid;
    width: 300px;
    margin: 150px auto auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 63.75px);
    grid-template-areas: 
    "input input input input"
    "AC C invert plus"
    "none none none minus"
    "none none none multiply"
    "none none none divide"
    "decimals zero equals equals";
    gap: 15px;
    background-color: rgb(36, 34, 34);
    border: 15px solid rgb(36, 34, 34);
}

#inputField {
    grid-area: input;
    border: 3px dotted rgb(161, 138, 197);
    background-color: rgb(36, 34, 34);
    color:rgb(235, 172, 55);
    text-align: right;
    padding-right: 10px;
    font-size: 22px;
    letter-spacing: 1.5px;
    max-width: 283px;
    font-family: 'Orbitron', sans-serif;
}

#AC {
    grid-area: AC;
}

#C {
    grid-area: C;
}

#invert {
    grid-area: invert;
}

#decimal {
    grid-area: decimals;
}

#equals {
    grid-area: equals;
    border-radius: 5%;
    background-color: rgb(230, 107, 63);
}

#equals:hover {
    border-color: rgb(229, 225, 235);
    background-color: rgb(236, 137, 101);
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#zero {
    grid-area: zero;
}